<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>🎄HotLeads🎄</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark_styles.css') }}" id="theme-style">

    <style>
        /* Временный стиль для плавного перехода темы */
        body {
            transition: background-color 0.3s, color 0.3s;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<h1 class="hotleads-title">
    <a style="text-decoration: none; color: inherit;">🎄 HotLeads 🎄</a>
    <div class="dropdown">
        <button class="dropdown-button" style="text-decoration: none; color: inherit;">Отчёты</button>
        <div class="dropdown-content">
            <a href="{{ url_for('report') }}">Отчет по менеджерам</a>
            <a href="{{ url_for('report_projects') }}">Отчет по проектам</a>
            <a href="{{ url_for('defective_leads') }}">Отчет по браку</a>
        </div>
    </div>
    <a href="{{ url_for('leads_page') }}" style="text-decoration: none; color: inherit;">Анализ трафика</a>
    <a href="{{ url_for('calc_page') }}" style="text-decoration: none; color: inherit;">Калькулятор ЗП</a>
</h1>

<!-- Всплывающее окно -->
<div class="popup-overlay" id="popup-overlay"></div>
<div class="popup" id="popup">
    <div class="popup-content" id="popup-content"></div>
</div>

<div class="header-container">
    {% if session.manager_name %}
    <span class="welcome-message">Добро пожаловать, {{ session.manager_name }}!</span>
    <a class="logout-button" href="{{ url_for('logout') }}">Выйти</a>
    {% endif %}
</div>

<form action="{{ url_for('index') }}" method="GET">
    <input id="current-theme" name="current_theme" type="hidden" value="dark_styles.css">

    {% if is_admin %}
    <label>Менеджер:</label>
    <select id="manager" name="manager" onchange="this.form.submit()">
        <option value="" {% if not selected_manager %}selected{% endif %}>Все</option>
        {% for manager in managers %}
        <option value="{{ manager[0] }}" {% if manager[0]== selected_manager %}selected{% endif %}>
            {{ manager[0] }}
        </option>
        {% endfor %}
    </select>
    {% endif %}

    <label>Проект:</label>
    <select id="project" name="project" onchange="this.form.submit()">
        <option value="" {% if not selected_project %}selected{% endif %}>Все</option>
        {% for project in projects %}
        <option value="{{ project[0] }}" {% if project[0]== selected_project %}selected{% endif %}>
            {{ project[0] }}
        </option>
        {% endfor %}
    </select>
</form>

<table>
    <thead>
    <tr>
        <th>Звонок</th>
        <th>Телефон</th>
        <th>Примечание</th>
        <th>Имя</th>
        <th>Действия</th>
        <th>GPT</th>
    </tr>
    </thead>
    <tbody>
    {% for call in calls %}
    <tr class="{% if call[-2] %}duplicate-phone{% endif %}" data-id="{{ call[0] }}" id="call-{{ call[0] }}">
        <td>
            <div class="custom-audio-player" id="player-{{ call[0] }}">
                <button class="play-btn" onclick="togglePlay('{{ call[0] }}')">▶️</button>
                <button class="pause-btn" onclick="togglePlay('{{ call[0] }}')" style="display: none;">⏸️</button>
                <div class="progress-container" onclick="setProgress(event, '{{ call[0] }}')">
                    <div class="progress-bar"></div>
                </div>

                <select class="speed-selector" id="speed-{{ call[0] }}" onchange="setPlaybackRate('{{ call[0] }}')">
                    <option value="0.5">0.5x</option>
                    <option selected value="1">1x</option>
                    <option value="1.5">1.5x</option>
                    <option value="2">2x</option>
                </select>
                <audio id="audio-{{ call[0] }}" preload="none" src="{{ call[14] }}"></audio>
            </div>
        </td>

        <td>{{ call[9] }}</td>
        <td><textarea class="editable" data-field="comment">{{ call[8] }}</textarea></td>
        <td><textarea class="editable" data-field="name">{{ call[6] }}</textarea></td>
        <td>
            <div class="button-container">
                <button class="save-button" onclick="saveRow({{ call[0] }})" type="button">Сохранить</button>
                <button class="tables-button" onclick="sendRow({{ call[0] }})" type="button">В таблицу</button>
                {% if call[9] in duplicates %}
                <button class="delete-button" onclick="deleteRow({{ call[0] }})" type="button">Удалить</button>
                {% endif %}
                <button class="approve-btn" onclick="approveRow({{ call[0] }})" type="button">Брак</button>
            </div>
        </td>
        <td>
            <span class="question-icon" onclick="openCommentPopup('{{ call[10] }}')">🔮</span>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>

    function openCommentPopup(commentText) {
        const displayText = commentText ? commentText : "Комментарий отсутствует";
        showPopup(displayText);
    }

    function showPopup(commentText) {
        document.getElementById('popup-content').innerText = commentText;
        document.getElementById('popup').style.display = 'block';
        document.getElementById('popup-overlay').style.display = 'block';
    }

    function closePopup() {
        document.getElementById('popup').style.display = 'none';
        document.getElementById('popup-overlay').style.display = 'none';
    }

    document.getElementById('popup-overlay').addEventListener('click', closePopup);

    const duplicates = {{ duplicates | tojson }};

    function checkDuplicates() {
        const rows = document.querySelectorAll('tbody tr');
        const phoneNumbers = Array.from(rows).map(row => row.querySelector('td:nth-child(2)').innerText);
        const duplicatePhones = phoneNumbers.filter(phone => duplicates.includes(phone));

        rows.forEach(row => {
            const phone = row.querySelector('td:nth-child(2)').innerText;
            if (duplicatePhones.includes(phone)) {
                row.classList.add('duplicate-phone');
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        checkDuplicates();
    });

    function saveRow(callId) {
        const customerName = document.querySelector(`#call-${callId} [data-field="name"]`).value;
        const comment = document.querySelector(`#call-${callId} [data-field="comment"]`).value;

        $.ajax({
            type: 'POST',
            url: '/save_lead',
            data: JSON.stringify({
                id: callId,
                name_note: customerName,
                note: comment
            }),
            contentType: 'application/json'
        }).done(function(response) {
            if (response.status === "success") {
                alert("Данные успешно сохранены!");
            } else {
                alert("Ошибка: " + response.message);
            }
        }).fail(function(xhr) {
            alert("Ошибка при сохранении данных: " + xhr.responseText);
        });
    }

    function sendRow(callId) {
        $.ajax({
            type: 'POST',
            url: `/send/${callId}`,
            data: JSON.stringify({ id: callId }),
            contentType: 'application/json'
        }).done(function(response) {
            if (response.status === "success") {
                location.reload();
                alert("Данные успешно отправлены в таблицу!");
            } else {
                alert("Ошибка: " + response.message);
            }
        }).fail(function(xhr) {
            alert("Ошибка при отправке данных: " + xhr.responseText);
        });
    }

    function deleteRow(callId) {
        if (!confirm("Вы уверены, что хотите удалить этот звонок?")) {
            return;
        }

        $.ajax({
            type: 'DELETE',
            url: `/delete/${callId}`,
            contentType: 'application/json'
        }).done(function(response) {
            if (response.status === "success") {
                const callElement = document.getElementById(`call-${callId}`);
                if (callElement) {
                    callElement.remove();
                }
                location.reload();
                alert("Звонок успешно удален!");
            } else {
                alert("Ошибка: " + response.message);
            }
        }).fail(function(xhr) {
            alert("Ошибка при удалении звонка: " + xhr.responseText);
        });
    }

    function approveRow(callId) {
        if (!confirm("Вы уверены, что хотите забраковать этот лид?")) {
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/approve',
            data: JSON.stringify({ id: callId }),
            contentType: 'application/json'
        }).done(function(response) {
            if (response.status === "success") {
                location.reload();
                alert("Лид забракован!");
            } else {
                alert("Ошибка: " + response.message);
            }
        }).fail(function(xhr) {
            alert("Ошибка при браковке лида: " + xhr.responseText);
        });
    }

    function togglePlay(callId) {
        const audio = document.getElementById(`audio-${callId}`);
        const playBtn = document.querySelector(`#player-${callId} .play-btn`);
        const pauseBtn = document.querySelector(`#player-${callId} .pause-btn`);

        if (audio.paused) {
            audio.play();
            playBtn.style.display = 'none';
            pauseBtn.style.display = 'inline-block';
        } else {
            audio.pause();
            playBtn.style.display = 'inline-block';
            pauseBtn.style.display = 'none';
        }
    }

    function setProgress(event, callId) {
        const progressBar = document.querySelector(`#player-${callId} .progress-bar`);
        const progressContainer = document.querySelector(`#player-${callId} .progress-container`);
        const audio = document.getElementById(`audio-${callId}`);
        const offsetX = event.offsetX;
        const width = progressContainer.offsetWidth;
        const percentage = offsetX / width;
        const progress = percentage * audio.duration;
        audio.currentTime = progress;
        progressBar.style.width = `${percentage * 100}%`;
    }

    function setPlaybackRate(callId) {
        const playbackRate = document.getElementById(`speed-${callId}`).value;
        const audio = document.getElementById(`audio-${callId}`);
        audio.playbackRate = parseFloat(playbackRate);
    }
</script>

</body>
</html>
