<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🔥 HotLeads 🔥</title>

    <style>
        /* Временный стиль для плавного перехода темы */
        body {
            transition: background-color 0.3s, color 0.3s;
        }
    </style>

    <script>
        // Проверка сохраненной темы в localStorage
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            document.write(`<link rel="stylesheet" href="${savedTheme}" id="theme-style">`);
        } else {
            document.write(`<link rel="stylesheet" href="{{ url_for('static', filename=current_theme) }}" id="theme-style">`);
        }

        // Функция для переключения размера комментария
        function toggleCommentSize(element) {
            element.classList.toggle("expanded");
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<h1 class="hotleads-title">
    <a style="text-decoration: none; color: inherit;">🔥 HotLeads 🔥</a>
</h1>

<!-- Всплывающее окно -->
<div class="popup-overlay" id="popup-overlay"></div>
<div class="popup" id="popup">
    <div class="popup-content" id="popup-content"></div>

</div>

<div class="header-container">
    {% if session.manager_name %}
    <span class="welcome-message">Добро пожаловать, {{ session.manager_name }}!</span>
    <a href="{{ url_for('logout') }}" class="logout-button">Выйти</a>
    <span class="theme-switcher" id="theme-toggle" title="Переключить тему">🌚</span>
    {% endif %}
</div>

<form method="GET" action="{{ url_for('index') }}">
    <input type="hidden" name="current_theme" id="current-theme" value="{{ current_theme }}">

    {% if is_admin %}
    <label>Менеджер:</label>
    <select name="manager" id="manager" onchange="this.form.submit()">
        <option value="">Все</option>
        {% for manager in managers %}
        <option value="{{ manager[0] }}" {% if manager[0]== selected_manager %}selected{% endif %}>{{ manager[0] }}
        </option>
        {% endfor %}
    </select>
    {% endif %}

    <label>Проект:</label>
    <select name="project" id="project" onchange="this.form.submit()">
        <option value="">Все</option>
        {% for project in projects %}
        <option value="{{ project[0] }}" {% if project[0]== selected_project %}selected{% endif %}>{{ project[0] }}
        </option>
        {% endfor %}
    </select>
</form>

<table>
    <thead>
    <tr>
        <th>Звонок</th>
        <th>Телефон</th>
        <th>Примечание</th>
        <th>Имя</th>
        <th>Действия</th>
        <th>GPT</th>
    </tr>
    </thead>
    <tbody>
    {% for call in calls %}
    <tr id="call-{{ call[0] }}" data-id="{{ call[0] }}" class="{% if call[-2] %}duplicate-phone{% endif %}">
        <td>
            <div class="custom-audio-player" id="player-{{ call[0] }}">
                <button class="play-btn" onclick="togglePlay('{{ call[0] }}')">▶️</button>
                <button class="pause-btn" style="display: none;" onclick="togglePlay('{{ call[0] }}')">⏸️</button>
                <div class="progress-container" onclick="setProgress(event, '{{ call[0] }}')">
                    <div class="progress-bar"></div>
                </div>
                <div class="time-display">
                    <span class="current-time" id="current-time-{{ call[0] }}">00:00</span> /
                    <span class="duration" id="duration-{{ call[0] }}">00:00</span>
                </div>
                <select class="speed-selector" id="speed-{{ call[0] }}" onchange="setPlaybackRate('{{ call[0] }}')">
                    <option value="0.5">0.5x</option>
                    <option value="1" selected>1x</option>
                    <option value="1.5">1.5x</option>
                    <option value="2">2x</option>
                </select>
                <audio id="audio-{{ call[0] }}" src="{{ call[14] }}" preload="none"></audio>
            </div>
        </td>

        <td>{{ call[9] }}</td>
        <td><textarea class="editable" data-field="comment">{{ call[8] }}</textarea></td>
        <td><textarea class="editable" data-field="name">{{ call[6] }}</textarea></td>
        <td>
            <div class="button-container">
                <button type="button" class="save-button" onclick="saveRow({{ call[0] }})">Сохранить</button>
                <button type="button" class="tables-button" onclick="sendRow({{ call[0] }})">В таблицу</button>
                {% if call[9] in duplicates %}
                <button type="button" class="delete-button" onclick="deleteRow({{ call[0] }})">Удалить</button>
                {% endif %}
                <button type="button" class="approve-btn" onclick="approveRow({{ call[0] }})">Согласовать</button>
            </div>
        </td>
        <td>

            <span class="question-icon" onclick="openCommentPopup('{{ call[10] }}')">🔮</span>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</tbody>
</table>

<script>

    function openCommentPopup(commentText) {
     // Проверяем, если текст комментария пустой, показываем сообщение "Комментарий отсутствует"
     const displayText = commentText ? commentText : "Комментарий отсутствует";
     showPopup(displayText);
     }

     function showPopup(commentText) {
         // Отображаем всплывающее окно с комментарием от ИИ
         document.getElementById('popup-content').innerText = commentText;
         document.getElementById('popup').style.display = 'block';
         document.getElementById('popup-overlay').style.display = 'block';
     }

     // Функция для закрытия окна
     function closePopup() {
         document.getElementById('popup').style.display = 'none';
         document.getElementById('popup-overlay').style.display = 'none';
     }

     // Закрытие окна при нажатии на оверлей
     document.getElementById('popup-overlay').addEventListener('click', closePopup);


     // Переключение темы
     const themeToggle = document.getElementById('theme-toggle');
     const themeStyle = document.getElementById('theme-style');

     themeToggle.addEventListener('click', function() {
         const currentTheme = themeStyle.getAttribute('href');

         if (currentTheme.includes('white_styles.css')) {
             themeStyle.setAttribute('href', "{{ url_for('static', filename='css/dark_styles.css') }}");
             themeToggle.innerHTML = '☀️';
             localStorage.setItem('theme', "{{ url_for('static', filename='css/dark_styles.css') }}");
         } else {
             themeStyle.setAttribute('href', "{{ url_for('static', filename='css/white_styles.css') }}");
             themeToggle.innerHTML = '🌙';
             localStorage.setItem('theme', "{{ url_for('static', filename='css/white_styles.css') }}");
         }
         document.getElementById('current-theme').value = themeStyle.getAttribute('href');
     });

     const duplicates = {{ duplicates | tojson }};

     function checkDuplicates() {
         const rows = document.querySelectorAll('tbody tr');
         rows.forEach(row => {
             const phone = row.querySelector('td:nth-child(2)').innerText;
             if (duplicates.includes(phone)) {
                 row.classList.add('duplicate-phone');
             }
         });
     }

     document.addEventListener('DOMContentLoaded', function() {
         checkDuplicates();
     });

     function saveRow(callId) {
         const customerName = document.querySelector(`#call-${callId} [data-field="name"]`).value;
         const comment = document.querySelector(`#call-${callId} [data-field="comment"]`).value;

         $.ajax({
             type: 'POST',
             url: '/save_lead',
             data: JSON.stringify({
                 id: callId,
                 name_note: customerName,
                 note: comment
             }),
             contentType: 'application/json'
         }).done(function(response) {
             if (response.status === "success") {
                 alert("Данные успешно сохранены!");
             } else {
                 alert("Ошибка: " + response.message);
             }
         }).fail(function(xhr) {
             alert("Ошибка при сохранении данных: " + xhr.responseText);
         });
     }

     function sendRow(callId) {
         $.ajax({
             type: 'POST',
             url: `/send/${callId}`,
             data: JSON.stringify({ id: callId }),
             contentType: 'application/json'
         }).done(function(response) {
             if (response.status === "success") {
                 location.reload();  // Обновляет всю страницу
                 alert("Данные успешно отправлены в таблицу!");


             } else {
                 alert("Ошибка: " + response.message);
             }
         }).fail(function(xhr) {
             alert("Ошибка при отправке данных: " + xhr.responseText);
         });
 }

     function deleteRow(callId) {
    if (!confirm("Вы уверены, что хотите удалить этот звонок?")) {
        return;
    }

    $.ajax({
        type: 'DELETE',
        url: `/delete/${callId}`,
        contentType: 'application/json'
    }).done(function(response) {
        if (response.status === "success") {
            const callElement = document.getElementById(`call-${callId}`);
            if (callElement) {
                callElement.remove();
            }
            location.reload();  // Обновляет всю страницу
            alert("Звонок успешно удален!");

        } else {
            alert("Ошибка: " + response.message);
        }
    }).fail(function(xhr) {
        alert("Ошибка при удалении звонка: " + xhr.responseText);
    });
}

     function approveRow(callId) {
        if (!confirm("Вы уверены, что хотите согласовать этот звонок?")) {
            return;
        }

        $.ajax({
            type: 'POST',
            url: '/approve',
            data: JSON.stringify({ id: callId }),
            contentType: 'application/json'
        }).done(function(response) {
            if (response.status === "success") {
                location.reload();  // Обновляет всю страницу
                alert("Звонок отправлен на согласование!");
            } else {
                alert("Ошибка: " + response.message);
            }
        }).fail(function(xhr) {
            alert("Ошибка при согласовании звонка: " + xhr.responseText);
        });
    }

     function togglePlay(callId) {
         const audio = document.getElementById(`audio-${callId}`);
         const playBtn = document.querySelector(`#player-${callId} .play-btn`);
         const pauseBtn = document.querySelector(`#player-${callId} .pause-btn`);

         if (audio.paused) {
             audio.play();
             playBtn.style.display = 'none';
             pauseBtn.style.display = 'inline-block';
         } else {
             audio.pause();
             playBtn.style.display = 'inline-block';
             pauseBtn.style.display = 'none';
         }
     }

     function setProgress(event, callId) {
         const progressBar = document.querySelector(`#player-${callId} .progress-bar`);
         const progressContainer = document.querySelector(`#player-${callId} .progress-container`);
         const audio = document.getElementById(`audio-${callId}`);
         const offsetX = event.offsetX;
         const width = progressContainer.offsetWidth;
         const percentage = offsetX / width;
         const progress = percentage * audio.duration;
         audio.currentTime = progress;
         progressBar.style.width = (percentage * 100) + '%';
     }

     function setPlaybackRate(callId) {
         const audio = document.getElementById(`audio-${callId}`);
         const speed = document.getElementById(`speed-${callId}`).value;
         audio.playbackRate = parseFloat(speed);
     }


</script>

</body>
</html>
